  .tile.tile-1 .tile-inner {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-2 .tile-inner {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-3 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }
  .tile.tile-5 .tile-inner {
    color: #f9f6f2;
    background: #f59563; }
  .tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #f67c5f; }
  .tile.tile-13 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b; }
  .tile.tile-21 .tile-inner {
    color: #f9f6f2;
    background: #edcf72; }
  .tile.tile-34 .tile-inner {
    color: #f9f6f2;
    background: #edcc61; }
  .tile.tile-55 .tile-inner {
    color: #f9f6f2;
    background: #edc850; }
  .tile.tile-89 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);}
  .tile.tile-144 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-144 .tile-inner {
        font-size: 25px; } }
  .tile.tile-233 .tile-inner {
    color: #f9f6f2;
    background: #edbc0c;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-233 .tile-inner {
        font-size: 25px; } }
  .tile.tile-377 .tile-inner {
    color: #f9f6f2;
    background: #edb5ea;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-377 .tile-inner {
        font-size: 25px; } }
		  .tile.tile-610 .tile-inner {
    color: #f9f6f2;
    background: #edafc8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-610 .tile-inner {
        font-size: 25px; } }
	.tile.tile-987 .tile-inner {
    color: #f9f6f2;
    background: #eda9a6;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-987 .tile-inner {
        font-size: 25px; } }
	.tile.tile-1597 .tile-inner {
    color: #f9f6f2;
    background: #eda384;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
     .tile.tile-1597 .tile-inner {
        font-size: 15px; } }
  .tile.tile-2584 .tile-inner {
    color: #f9f6f2;
    background: #ed9cde;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
     .tile.tile-2584 .tile-inner {
        font-size: 15px; } }
  .tile.tile-4181 .tile-inner {
    color: #f9f6f2;
    background: #ed9cde;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
     .tile.tile-4181 .tile-inner {
        font-size: 15px; } }
  .tile.tile-6765 .tile-inner {
    color: #f9f6f2;
    background: #ed9cde;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
     .tile.tile-6765 .tile-inner {
        font-size: 15px; } }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #ed9cde;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 30px; }
    @media screen and (max-width: 520px) {
     .tile.tile-super .tile-inner {
        font-size: 10px; } }
